﻿@{
    ViewBag.Title = "Sibiu Rentals";
}

<body style="background-image:url(https://c4.wallpaperflare.com/wallpaper/723/816/28/nature-forest-road-car-wallpaper-70195e837b314d6ac03087fe38a46b8d.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="jumbotron" style="background-image: url(https://r1.ilikewallpaper.net/ipad-air-wallpapers/download/24931/Roads-To-Future-Awesome-ipad-air-wallpaper-ilikewallpaper_com.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
        <h1 class="text-center"><b>Sibiu Rentals</b></h1>
        <br />
        <h2><b>Cele mai bune oferte de inchirieri auto in Sibiu</b></h2>

        <p class="lead">
            Calatoresti in Sibiu?
            Avem cele mai bune oferte de inchirieri auto pentru dumneavoastra
        </p>
        <p><a href="http://localhost:50856/cars" class="btn btn-primary btn-lg">Catre masini &raquo;</a></p>
    </div>
</body>
<body>
    <div class="row" style="background-image: url(https://wallup.net/wp-content/uploads/2015/12/153634-landscape-field-sunlight-bright-road-haystacks-grass-748x468.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
        <div class="col-md-4">
            <h2><b>Anulare gratuita</b></h2>
            <p><b>
                Cu politica noastra de anulare gratuita, timp de 48 de ore nu trebuie sa-ti faci griji daca planurile pentru vacanta si pentru inchirierea masinii se schimba!
            </b></p>
            <p><a class="btn btn-default" href="http://localhost:50856/orders">Catre cont &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><b>Cele mai importante marci</b></h2>
            <p><b>La noi puteti gasi de la o masina modesta pana la una de ultimul racnet. Oferim cea mai variată selectie de vehicule</b></p>
            <p><a class="btn btn-default" href="http://localhost:50856/cars">Catre masini &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><b>Fara taxe ascunse</b></h2>
            <p><b>Afisam pretul final cand compari ofertele online pentru a evita surprizele atunci cand vei prelua masina.</b></p>
            <p><a class="btn btn-default" href="http://localhost:50856/cars">Catre preturi &raquo;</a></p>
        </div>
    </div>
</body>