﻿@model Inchirieri.Models.Car

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body style="background-image:url(https://cdn.pixabay.com/photo/2015/10/12/14/51/moss-983908__340.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <table id=" cars" class="table table-bordered" style="border:5px double black;">
        <thead>
            <tr>
                <th><b>Car Model</b></th>
                <th><b>Registration Date</b></th>
                <th><b>Fuel type</b></th>
                <th><b>No. of Seats</b></th>
                <th><b>Car Color</b></th>
                <th><b>Transmission type</b></th>
                <th><b>Rent price</b></th>
                <th><b>Action</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in ViewBag.cars)
            {
                <tr>
                    <td><b>@car.Model</b></td>
                    <td><b>@car.RegDate</b></td>
                    <td><b>@car.Fuel</b></td>
                    <td><b>@car.Seats</b></td>
                    <td><b>@car.Color</b></td>
                    <td><b>@car.Gearbox</b></td>
                    <td><b>@car.Price</b></td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a id="edit-@car.Id" class="btn btn-primary" href="/cars/edit/@car.Id">Edit</a>
                            <a id="delete-@car.Id" class="btn btn-danger" href="/cars/delete/@car.Id">Delete</a>
                        }
                        else
                        {
                            <a id="view-@car.Id" class="btn btn-primary" href="/cars/view/@car.Id">View</a>
                            <a id="rent-@car.Id" class="btn btn-success" href="/cars/rent/@car.Id">Rent</a>
                        }
                    </td>
                </tr>
            }


        </tbody></b>
    </table>

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" href="/cars/add">Add</a>
    }
</body>