﻿@model Inchirieri.Models.Car

@{
    ViewBag.Title = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body style="background-image: url(https://ak0.picdn.net/shutterstock/videos/3898370/thumb/1.jpg?i10c=img.resize);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <h2><b>View</b></h2>

    <img src="@ViewBag.Image" />

    <table class="table">
        <tr>
            <td>Model masina</td>
            <td>@Model.Model</td>
        </tr>
        <tr>
            <td>Combustibil</td>
            <td>@Model.Fuel</td>
        </tr>
        <tr>
            <td>Numar locuri</td>
            <td>@Model.Seats</td>
        </tr>
        <tr>
            <td>Culoare</td>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <td>Transmisie</td>
            <td>@Model.Gearbox</td>
        </tr>
        <tr>
            <td>An fabricatie</td>
            <td>@Model.RegDate</td>
        </tr>
        <tr>
            <td>Pret/zi</td>
            <td id="pricePerDay">@Model.Price</td>
        </tr>

    </table>
</body>